// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.counters{
    margin-right:10px;
    text-align:center;
    border-bottom:solid 1px #000000;
}

strong{
    display:block;
    font-size:1em;
}

.vote, .answer{
    width:70px;
    height:50px;
    margin-bottom:20px;
}

.status{
    &.answered{
        color:$green;
        border: 1px solid $green;
    }
    &.unanswered{
        border:none;
    }
    &.answered-accepted{
        border: 1px solid $green;
        background-color: $green;
    
    }
}